{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}- edit
{% endblock %}

{% block body %}
    <h1>{{title}}</h1>

    <ul>
        <form action="{%url 'submitchanges'%}" method="POST">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Edit title" value = {{title}}>
            <textarea name="contentArea" placeholder="Edit content">{{content}}</textarea>
            <input type="submit" value="Submit changes" class="btn btn-primary">
        </form>
    </ul>
    
{% endblock %}